[submodule "gbr.Frontend"]
	path = gbr.Frontend
	url = https://github.com/MikeJerred/gbr.Frontend.git
[submodule "gbr.InProcess"]
	path = gbr.InProcess
	url = https://github.com/MikeJerred/gbr.InProcess.git
[submodule "gbr.Master"]
	path = gbr.Master
	url = https://github.com/MikeJerred/gbr.Master.git
