[submodule "gbr.Frontend"]
	path = gbr.Frontend
	url = https://github.com/MikeJerred/gbr.Frontend.git
[submodule "gbr.InProcess"]
	path = gbr.InProcess
	url = https://github.com/MikeJerred/gbr.InProcess.git
[submodule "GWToolboxpp"]
	path = GWToolboxpp
	url = https://github.com/MikeJerred/GWToolboxpp.git
[submodule "gbr.Tank"]
	path = gbr.Tank
	url = git@github.com:MikeJerred/gbr.Tank.git
